/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
 background-color: #232323e0;
  color: #333;
}

header {
  background-color: #213a57;
  color: white;
  padding: 7px;
  text-align: center;
  display: flex;
 flex-direction: column;
  border-bottom: 2px solid white;
  
}

header .logo {
  font-size: 2.5rem;
  font-weight: bold;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 12px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
  padding: 2px;
}

nav ul li a::after{
  content: " ";
  width: 0%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 0%;
  left: 0%;
  transition: 0.5s ease-in-out;
}

nav ul li a:hover::after{
  width: 100%;
}



main {
  padding: 1rem 5%;
}

section {
  margin-bottom: 2rem;
}

section h1, section h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #fff;
}



.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.imagens{
   background-color: #02080e2c;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 4px;
}

article {
  background-color: #052d5579;
  padding: 1rem;
 
  
  border-bottom:2px solid #fff;
  color: #fff;
  display: flex;
}

article img {
width: 250px;
  
}

article p{
  margin-left: 14px;
 
 padding: 3px;

}

footer {
  background-color: #213a57 ;
  color: white;
  text-align: center;
  padding: 2rem 0;
  margin-top: 2rem;
  border-top:2px solid #fff;
}

footer p{
  font-size: 18px;
}


@media screen and (min-width:350px) and (max-width:800px) {
  nav ul li a{
    font-size: 14px;
  }
}
